.moviePoster {
  object-fit: fill;
  border-radius: 5%;
  overflow: hidden;
}

.moviePoster:hover, .moviePoster:active{
  scale: 1.5;
  z-index: 2;
  
}

.moviePoster:hover img, .moviePoster:active img{
  outline: 100px solid rgba(0, 0, 0, 0.541);
  outline-offset: -100px;
}

.rootitem {
  visibility: hidden;
}
.moviePoster:hover .rootitem, .moviePoster:active .rootitem{
  visibility: visible;
}

.contentitem{
  position: absolute;
  color: white;
  width: 100%;
  cursor: pointer;
}


h4.contentitem {
  top: 2%;
  text-align: center;
}

p.contentitem {
  top:22%;
  left:5%;
  width: 90%;
  height: 20%;
  font-size: x-small;
  text-align: center;
  overflow: hidden; 
}

p.contentitem:hover {
  overflow: scroll;
}

h6.contentitem {
  font-size: x-small;
  top:45%;
  text-align: center;
}


.moviePoster:hover .contentitem, .moviePoster:active .contentitem{
  visibility: visible;
}

.ViGrid{
  display: grid;
  grid-auto-flow: column dense;
  grid-template-columns: repeat(auto-fill, 150px);
  grid-gap: 2rem;
  padding-left: 45px;
  overflow: scroll;
}

.ReGrid{
  display: grid;
  grid-template-columns:  repeat(auto-fill, 200px);
  grid-gap: 2rem;
  padding-left: 47px;
}

div.contentitem.checker{
  top:80%;
  transform: translate(33%,0);
}
 /* The switch - the box around the slider */
 .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 

body{
  background-color: black;
  cursor: default;
}

.aboutpage{
  color: white;
}
.aboutpage h1{
  text-align: center;
}
.aboutpage p{
  text-align: center;
  line-height: 25px;
}
.viH{
  color:cyan;
  width:max-content;
  background-size: cover;
  background-image: url( https://media1.giphy.com/media/l41lHDSvmwnQGDUD6/giphy.gif );
}

.reH{
  background-clip: text;
  color: transparent;
  background-size: cover;
  background-image: url( https://media2.giphy.com/media/Qh6aPCssL8J8I/giphy.gif );
}